.container {
  position: relative;
  background: white;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: .5rem;
  font-family: 'Segoe UI', sans-serif;
  max-width: max-content;
}

.number {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
}

button {
  cursor: pointer;
}